 .IND1.AN { fill : #70DBDB ; } 
 .IND1.AP { fill : #87CEFF; } 
 .IND1.ARP { fill : #87CEFF; } 
 .IND1.AS { fill : #50A6C2; } 
 .IND1.BI { fill : #00B2EE; } 
 .IND1.CG { fill : #BFEFFF; } 
 .IND1.CH { fill : #87CEEB; }
 .IND1.DNH { fill : #539DC2; } 
 .IND1.DD { fill : #A4D3EE; } 
 .IND1.DE { fill : #B0E2FF; } 
 .IND1.GO { fill : #9BC4E2; }
 .IND1.GU { fill : #4F94CD; } 
 .IND1.HA { fill : #62B1F6; } 
 .IND1.HP { fill : #60AFFE; } 
 .IND1.JH { fill : #60AFFE; }
 .IND1.JK { fill : #499DF5; } 
 .IND1.KA { fill : #60AFFE; } 
 .IND1.KE { fill : #6D9BF1; } 
 .IND1.LA { fill : #7093DB; }
 .IND1.MP { fill : #436EEE; } 
 .IND1.MH { fill : #4876FF; } 
 .IND1.MN { fill : #E6E8FA; } 
 .IND1.MZ { fill : #838EDE; }
 .IND1.NA { fill : #8F8FBC; } 
 .IND1.OR { fill : #D9D9F3; } 
 .IND1.PC { fill : #7171C6; } 
 .IND1.PJ { fill : #6666FF; }
 .IND1.RA { fill : #AAAAFF; } 
 .IND1.SI { fill : #8470FF; }
 .IND1.TN { fill : #6600FF; } 
 .IND1.TR { fill : #0BB5FF; }
 .IND1.UP { fill : #C1F0F6; }
 .IND1.UT { fill : #6183A6; }
 .IND1.WB { fill : #4876FF; }

 /*.IND1.AN { fill : #5D8AA8 ; } 
 .IND1.AP { fill : #138808; } 
 .IND1.ARP { fill : #8DB600; } 
 .IND1.AS { fill : #FBCEB1; } 
 .IND1.BI { fill : #7FFFD4; } 
 .IND1.CG { fill : #4B5320; } 
 .IND1.CH { fill : #696969; }
 .IND1.DNH { fill : #E9D66B; } 
 .IND1.DD { fill : #B2BEB5; } 
 .IND1.DE { fill : #87A96B; } 
 .IND1.GO { fill : #FF9966; }
 .IND1.GU { fill : #98777B; } 
 .IND1.HA { fill : #007FFF; } 
 .IND1.HP { fill : #89CFF0; } 
 .IND1.JH { fill : #A1CAF1; }
 .IND1.JK { fill : #0F4D92; } 
 .IND1.KA { fill : #FFD12A; } 
 .IND1.KE { fill : #008080; } 
 .IND1.LA { fill : #3D2B1F; }
 .IND1.MP { fill : #F3E5AB; } 
 .IND1.MH { fill : #BF94E4; } 
 .IND1.MN { fill : #DE5D83; } 
 .IND1.MZ { fill : #DEB887; }
 .IND1.NA { fill : #E97451; } 
 .IND1.OR { fill : #A3C1AD; } 
 .IND1.PC { fill : #99BADD; } 
 .IND1.PJ { fill : #E9967A; }
 .IND1.RA { fill : #738678; } 
 .IND1.SI { fill : #36454F; }
 .IND1.TN { fill : #98817B; } 
 .IND1.TR { fill : #E34234; }
 .IND1.UP { fill : #CD5C5C; }
 .IND1.UT { fill : #6495ED; }
 .IND1.WB { fill : #872657; }
 */